<mat-card class="dashboard-card" >
  <mat-card-content>
    <div>Orders</div>

    <a href="#">
      <mat-card class="phc-card order-card">
        <mat-card-content>
        <div class="row">
          <div class="col-sm-4">
            <mat-checkbox>SANJIVANI MEDICAL</mat-checkbox>
          </div>
          <div class="col-sm-3">
            <span>Rs.10000</span>
          </div>
          <div class="col-sm-4">
            <span>Gopal Patil</span>
          </div>
          <div class="col-sm-1">
            <span class="float-right badge primary">In Progress</span>
          </div>
        </div>
        </mat-card-content>
      </mat-card>
    </a>

    <a href="#">
      <mat-card class="phc-card order-card">
        <mat-card-content>
        <div class="row">
          <div class="col-sm-4">
            <mat-checkbox>MARUDHAR MEDICAL</mat-checkbox>
          </div>
          <div class="col-sm-3">
            <span>Rs.12000</span>
          </div>
          <div class="col-sm-4">
            <span>Rahul Chaudhary</span>
          </div>
          <div class="col-sm-1">
            <span class="float-right badge success">Complete</span>
          </div>
        </div>
        </mat-card-content>
      </mat-card>
    </a>

    <a href="#">
      <mat-card class="phc-card order-card">
        <mat-card-content>
        <div class="row">
          <div class="col-sm-4">
            <mat-checkbox>RAJ MEDICAL</mat-checkbox>
          </div>
          <div class="col-sm-3">
            <span>Rs.5000</span>
          </div>
          <div class="col-sm-4">
            <span>John Doe</span>
          </div>
          <div class="col-sm-1">
            <span class="float-right badge danger">Cancelled</span>
          </div>
        </div>
        </mat-card-content>
      </mat-card>
    </a>

  </mat-card-content>
</mat-card>