<mat-card class="order-history-card mat-elevation-z3 no-radius" >
  <mat-card-content>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <label><mat-card-title>Order History</mat-card-title></label>
        <div class="d-flex flex-row float-right">
          <button mat-flat-button color="accent" type="button" (click)="onCreateOrder()">
            <mat-icon>add</mat-icon>Create New Order
          </button>
        </div>
      </div>
    </div>
    <div class="row mr-2 ml-2 mt-1 mt-1">
      <div class="col-sm-4">
        Order Date
      </div>
      <div class="col-sm-4" [ngClass]="{'d-none': (isHandset | async)}">
        <span># of Items</span>
      </div>
      <div class="col-sm-3" [ngClass]="{'d-none': (isHandset | async)}">
        <span>Order Amount</span>
      </div>
      <div class="col-sm-1">
        <span class="float-right">Status</span>
      </div>
    </div>
    <app-order-item></app-order-item>
  </mat-card-content>
</mat-card>