<mat-card class="mat-elevation-z3 no-radius">
  <mat-card-content>
    <div class="row">
      <div class="col-md-12">
        <label><mat-card-title>Create New Order</mat-card-title></label>
      </div>
    </div>



    <form [formGroup]="storeForm" (ngSubmit)="onSubmit()">


      <div class="row">
        <div class="col-md-12">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Product Name</mat-label>
            <input matInput 
              formControlName="productName"
              [matAutocomplete]="auto"
              placeholder="Search product to order online"
              autocomplete="off"
              appUppercase>
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                <ng-container *ngIf="!isLoading">
                  <mat-option *ngFor="let product of filteredProducts" [value]="product.productId">
                    <span><b>{{product.productName}}</b> ({{product.companyName}})</span>
                  </mat-option>
                </ng-container>
              </mat-autocomplete>
            </mat-form-field>
        </div>
      </div>

      <input type="hidden" formControlName="storeId" />

      <mat-accordion multi="true">  
        
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Store Information
            </mat-panel-title>
          </mat-expansion-panel-header>
          
          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Store Type</mat-label>
                <mat-select formControlName="storeType">
                  <mat-option *ngFor="let storeTypeEl of storeTypes" [value]="storeTypeEl.typeCode">
                    {{storeTypeEl.typeDescription}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Store Region</mat-label>
                <mat-select formControlName="storeRegion">
                  <mat-option *ngFor="let regionEl of regions" [value]="regionEl.regionCode">
                    {{regionEl.regionName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Store Name</mat-label>
                <input matInput 
                  formControlName="storeName"
                  placeholder="Store Name"
                  autocomplete="off"
                  appUppercase>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput 
                  formControlName="firstName"
                  placeholder="First Name"
                  autocomplete="off"
                  appUppercase>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput 
                  formControlName="lastName"
                  placeholder="Last Name"
                  autocomplete="off"
                  appUppercase>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-8">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput 
                  formControlName="email"
                  placeholder="Email"
                  autocomplete="off"
                  appUppercase>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Mobile Number</mat-label>
                <input matInput 
                  formControlName="mobileNumber"
                  placeholder="Mobile Number"
                  maxlength="10"
                  autocomplete="off"
                  appUppercase>
              </mat-form-field>
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Store Address Information
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div formGroupName="address">
            <input type="hidden" formControlName="type" />
            <input type="hidden" formControlName="country" />
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Address Line1</mat-label>
                  <input matInput 
                    formControlName="addressLine1"
                    placeholder="Address Line1"
                    autocomplete="off"
                    appUppercase>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Address Line2</mat-label>
                  <input matInput 
                    formControlName="addressLine2"
                    placeholder="Address Line2"
                    autocomplete="off"
                    appUppercase>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-5">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>State</mat-label>
                  <mat-select formControlName="state">
                    <mat-option *ngFor="let stateEl of states" [value]="stateEl.stateCode">
                      {{stateEl.stateName}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-5">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>City</mat-label>
                  <input matInput 
                    formControlName="city"
                    placeholder="City"
                    autocomplete="off"
                    appUppercase>
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Postal Code</mat-label>
                  <input matInput 
                    formControlName="postalCode"
                    placeholder="Postal Code"
                    autocomplete="off"
                    appUppercase>
                </mat-form-field>
              </div>
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Tax and License Information
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div formGroupName="taxInfo">
            <div class="row">
              <div class="col-md-12">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>GST Number</mat-label>
                  <input matInput 
                    formControlName="gstNumber"
                    placeholder="GST Number"
                    autocomplete="off"
                    appUppercase>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>PAN Number</mat-label>
                  <input matInput 
                    formControlName="panNumber"
                    placeholder="PAN Number"
                    autocomplete="off"
                    appUppercase>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>VAT Number</mat-label>
                  <input matInput 
                    formControlName="vatNumber"
                    placeholder="VAT Number"
                    autocomplete="off"
                    appUppercase>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div formGroupName="licenseInfo">
            <input type="hidden" formControlName="imageUrl" />
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Drug License Number</mat-label>
                  <input matInput 
                    formControlName="licenseNumber"
                    placeholder="License Number"
                    autocomplete="off"
                    appUppercase>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Issue Date</mat-label>
                  <input matInput 
                    formControlName="issueDate"
                    placeholder="Issue Date"
                    autocomplete="off"
                    [matDatepicker]="issueDatePicker"
                    appUppercase>
                  <mat-datepicker-toggle
                    matSuffix [for]="issueDatePicker">
                  </mat-datepicker-toggle>
                  <mat-datepicker #issueDatePicker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Expiry Date</mat-label>
                  <input matInput 
                    formControlName="expiryDate"
                    placeholder="Expiry Date"
                    autocomplete="off"
                    [matDatepicker]="expiryDatePicker"
                    appUppercase>
                  <mat-datepicker-toggle
                    matSuffix [for]="expiryDatePicker">
                  </mat-datepicker-toggle>
                  <mat-datepicker #expiryDatePicker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Credit and Limit Information
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div formGroupName="creditInfo">
            <div class="row">
              <div class="col-md-2">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Credit Period</mat-label>
                  <input matInput 
                    formControlName="creditPeriod"
                    placeholder="Credit Period"
                    autocomplete="off"
                    appUppercase>
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Discount % Before</mat-label>
                  <input matInput 
                    formControlName="discountBefore"
                    placeholder="Discount % Before"
                    autocomplete="off"
                    appUppercase>
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Discount % After</mat-label>
                  <input matInput 
                    formControlName="discountAfter"
                    placeholder="Discount % After"
                    autocomplete="off"
                    appUppercase>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Billing Amount Limit</mat-label>
                  <input matInput 
                    formControlName="billingAmountLimit"
                    placeholder="Billing Amount Limit"
                    autocomplete="off"
                    appUppercase>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Order Amount Limit</mat-label>
                  <input matInput 
                    formControlName="orderAmountLimit"
                    placeholder="Order Amount Limit"
                    autocomplete="off"
                    appUppercase>
                </mat-form-field>
              </div>
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Store Status
            </mat-panel-title>
          </mat-expansion-panel-header>
    
          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Store Status</mat-label>
                <mat-select formControlName="status">
                  <mat-option value="A">ACTIVE</mat-option>
                  <mat-option value="I">INACTIVE</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Is Store Verified</mat-label>
                <mat-select formControlName="verified">
                  <mat-option value="Y">YES</mat-option>
                  <mat-option value="N">NO</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </mat-expansion-panel>

      </mat-accordion>

      <div class="col-md-12 mt-3">
        <button mat-stroked-button
          color="primary"
          class="mr-2"
          type="button"
          (click)="onCancel()">
          Cancel
        </button>        
        <div class="d-flex flex-row float-right">
          <button mat-stroked-button *ngIf="!editMode"
            color="primary"
            class="mr-2"
            type="button"
            (click)="onReset()">
            Reset
          </button>
          <button mat-flat-button *ngIf="editMode"
            color="warn"
            class="mr-2"
            type="button"
            (click)="onDelete()">
            Delete
          </button>
          <button mat-flat-button
            color="accent"
            [disabled]="!storeForm.valid"
            type="submit">
            Save
          </button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>