<mat-grid-list cols="4" rowHeight="200px">
  <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
    <div *ngIf="card.name === 'total'">
      <app-summary-board></app-summary-board>
    </div>
    <div *ngIf="card.name === 'inprogress'">
      <app-summary-board></app-summary-board>
    </div>
    <div *ngIf="card.name === 'cancelled'">
      <app-summary-board></app-summary-board>
    </div>
    <div *ngIf="card.name === 'completed'">
      <app-summary-board></app-summary-board>
    </div>
  </mat-grid-tile>
</mat-grid-list>
