<mat-card class="phc-card order-card mat-elevation-z3" matRipple style="cursor: pointer;" (click)="onEditOrder()">
    <mat-card-content>
        <div class="row">
            <div class="col-sm-4">
                <mat-checkbox>{{order.orderIssueDate}}</mat-checkbox>
            </div>
            <div class="col-sm-4" [ngClass]="{'d-none': (isHandset | async)}">
                <span>{{order.totalItems}}</span>
            </div>
            <div class="col-sm-3" [ngClass]="{'d-none': (isHandset | async)}">
                <span>Rs {{order.netPayoutAmount}}</span>
            </div>
            <div class="col-sm-1">
                <span *ngIf="order.orderStatus == 'COMPLETED'" class="float-right badge success">Completed</span>
                <span *ngIf="order.orderStatus == 'IN_PROGRESS'" class="float-right badge primary">In Progress</span>
                <span *ngIf="order.orderStatus == 'CANCELLED'" class="float-right badge danger">Cancelled</span>
            </div>
        </div>
    </mat-card-content>
</mat-card>