.logo-main {
  color: #fff !important;
  font-size: 25px;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 212px;
}

.hidden {
  display: none;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: 55px;
}

.header-spacer {
  flex: 1 1 auto;
}
